body {
  margin: 0;
  overflow: hidden;
}

p {
  color: #333;
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: 'Arial Black', sans-serif;
}

.twitter:hover a {
  transform: rotate(-45deg) scale(1.05);
}
.twitter:hover i {
  color: #21c2ff;
}
.twitter a {
  bottom: -40px;
  right: -75px;
  transform: rotate(-45deg);
}
.twitter i {
  bottom: 7px;
  right: 7px;
  color: #00ACED;
}

.social-icon a {
  position: absolute;
  background: white;
  color: white;
  box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 150px;
  height: 60px;
  transform-origin: 50% 50%;
  transition: .15s ease-out;
}
.social-icon i {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  transition: .30s ease-out;
}
